{% extends 'base.html' %}   <!-- Extend main base file for header and footer part -->
{% load static %}   <!-- load static files like css,js,images -->
{% block title %}   <!-- override title block from base.html for css file -->
    <title>Seller-Category CURD</title>
{% endblock %}      <!-- end title block -->
{% block style %}   <!-- override style block from base.html for css file -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <style>
        .table-responsive {
            margin: 30px 0;
        }
        .table-wrapper {
            min-width: 1000px;
            background: #fff;
            padding: 20px;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }
        .table-title {
            padding-bottom: 10px;
            margin: 0 0 10px;
            min-width: 100%;
        }
        .table-title h2 {
            margin: 8px 0 0;
            font-size: 22px;
        }
        .search-box {
            position: relative;        
            float: right;
        }
        .search-box input {
            height: 34px;
            border-radius: 20px;
            padding-left: 35px;
            border-color: #ddd;
            box-shadow: none;
        }
        .search-box input:focus {
            border-color: #3FBAE4;
        }
        .search-box i {
            color: #a0a5b1;
            position: absolute;
            font-size: 19px;
            top: 8px;
            left: 10px;
        }
        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
        }
        table.table-striped tbody tr:nth-of-type(odd) {
            background-color: #fcfcfc;
        }
        table.table-striped.table-hover tbody tr:hover {
            background: #f5f5f5;
        }
        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }
        table.table td:last-child {
            width: 130px;
        }
        table.table td a {
            color: #a0a5b1;
            display: inline-block;
            margin: 0 5px;
        }
        table.table td a.view {
            color: #03A9F4;
        }
        table.table td a.edit {
            color: #FFC107;
        }
        table.table td a.delete {
            color: #E34724;
        }
        table.table td i {
            font-size: 19px;
        }    
        .pagination {
            float: right;
            margin: 0 0 5px;
        }
        .pagination li a {
            border: none;
            font-size: 95%;
            width: 30px;
            height: 30px;
            color: #999;
            margin: 0 2px;
            line-height: 30px;
            border-radius: 30px !important;
            text-align: center;
            padding: 0;
        }
        .pagination li a:hover {
            color: #666;
        }	
        .pagination li.active a {
            background: #03A9F4;
        }
        .pagination li.active a:hover {        
            background: #0397d6;
        }
        .pagination li.disabled i {
            color: #ccc;
        }
        .pagination li i {
            font-size: 16px;
            padding-top: 6px
        }
        .hint-text {
            float: left;
            margin-top: 6px;
            font-size: 95%;
        }    
    </style>
{% endblock %}      <!-- end style block -->

{% block body %}    <!-- inherit style block from base.html & override below code -->
    
    <main>
        <div class="page-header text-center" style="background-image: url({% static 'assets/images/page-header-bg.jpg' %})">
            <div class="container">
                <h1 class="page-title">View/Modify Category<span>Category</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Category Details</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->
    
        <!-- Product Table  -->
        <div class="container-xl">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8"><h2>Category Details</h2></div>
                            <div class="col-sm-8" style="margin-top: 10px;"><span>Total Category Count: {{ category | length }}</span></div>
                            <div class="col-sm-4">
                                <div class="search-box">
                                    <i class="material-icons">&#xE8B6;</i>
                                    <input type="text" class="form-control" placeholder="Search&hellip;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover table-bordered">
                        <thead style="text-align:center;">
                            <tr>
                                <th>Image</th>
                                <th>Name</i></th>
                                <th>Description</th>
                                <th>Status</i></th>
                                <th>Creation DateTime</th>
                                <th>Last Updatation DateTime</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;">
                            {% if category %}
                                {% for i in category %}
                                    <tr>
                                        <td>
                                            <img src="{{ i.image.url }}" alt="No image" height="100px" width="100px" style="display: block;margin: auto;">
                                        </td>
                                        <td>{{ i.name }}</td>
                                        <td style="width: 200px;">{{ i.desc }}</td>
                                        <td>{{ i.status }}</td>
                                        <td>{{ i.created_at }}</td>
                                        <td>{{ i.updated_at }}</td>
                                        <td>
                                            <a href="{% url 'update-category' slug=i.slug %}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                            <a href="{% url 'drop-category' slug=i.slug %}" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}        
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>   
        <!-- End Product Table -->
    </main>

{% endblock %}     <!-- end body block -->

{% block script %}      <!-- inherit script block from base.html for js file -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}      <!-- end script block -->