{% extends 'base.html' %}
{% load static %}
{% block body %}
<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Update New Password Using Forgot Password</h1></div>
          </div>
    </div>
    <!--End Page Title-->
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                <div class="mb-4">
                    {% if warning %}
                        <div class="alert alert-warning" role="alert" style="text-align: center;">{{ warning }}</div>
                    {% endif %}
                    {% if success %}
                        <div class="alert alert-success" role="alert" style="text-align: center;">{{ success }}</div>
                    {% endif %}
                   <form method="post" action="{% url 'new-password' %}" id="CustomerchangepasswordForm" accept-charset="UTF-8" class="contact-form">	
                    {% csrf_token %}
                      <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="CustomerNewPassword">New Password</label>
                                <input type="password" name="new-password" id="CustomerNewPassword">                        	
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="CustomerCNewPassword">Confirm Password</label>
                                <input type="password" name="cnew-password" id="CustomerCNewPassword">                        	
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                            <input type="submit" class="btn mb-3" value="Update Password">
                        </div>
                     </div>
                 </form>
                </div>
               </div>
        </div>
    </div>
    
</div>
<!--End Body Content-->
{% endblock %}