{% extends 'base.html' %}
{% load static %}
{% block body %}
<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Create an Account</h1></div>
          </div>
    </div>
    <!--End Page Title-->
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                <div class="mb-4">
                    {% if warning %}
                        <div class="alert alert-warning" role="alert" style="text-align: center;">{{ warning }}</div>
                    {% endif %}
                    {% if success %}
                        <div class="alert alert-success" role="alert" style="text-align: center;">{{ success }}</div>
                    {% endif %}
                   <form method="post" action="{% url 'register' %}" id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form" enctype="multipart/form-data">	
                    {% csrf_token %}
                      <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <select name='user_type' autofocus="">
                                    <option selected>Select User Type</option>
                                    <option value="Buyer">Buyer</option>
                                    <option value="Seller">Seller</option>
                                </select>
                            </div>
                        </div>
                          
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="FirstName">First Name</label>
                                <input type="text" name="fname" placeholder="" id="FirstName">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="LastName">Last Name</label>
                                <input type="text" name="lname" placeholder="" id="LastName">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="CustomerEmail">Email</label>
                                <input type="email" name="email" placeholder="" id="CustomerEmail" class="" autocorrect="off" autocapitalize="off" autofocus="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="CustomerMobile">Mobile Number</label>
                                <input type="number" name="mobile" placeholder="" id="CustomerMobile" class="" autocorrect="off" autocapitalize="off" autofocus="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        	<div class="form-group">
                                <label for="CustomerAddress">Address</label>
                                <textarea required="" rows="6" id="CustomerAddress" name="address"></textarea>
                            </div>
                        </div> 
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="profileFile">Chose Profile Picture</label>
                                <input type="file" id="profileFile" name="profile_picture" accept="image/*" style="padding-top: 5px;">
                            </div>
                        </div> 
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="CustomerPassword">Password</label>
                                <input type="password" value="" name="password" placeholder="" id="CustomerPassword">                        	
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="CPassword">Confirm Password</label>
                                <input type="password" value="" name="cpassword" placeholder="" id="CPassword">                        	
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                            <input type="submit" class="btn mb-3" value="Create">
                        </div>
                     </div>
                 </form>
                </div>
               </div>
        </div>
    </div>
    
</div>
<!--End Body Content-->
{% endblock %}