{% extends 'base.html' %}
{% load static %}
{% block body %}

    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Wish List</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        {% if warning %}
            <div class="alert alert-warning" role="alert" style="text-align: center;">
                <h2>{{ warning }}</h2>
            </div>
        {% else %}
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Wishlist Product Count: {{ request.session.wishlist_count }}</h2>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                        <form action="#">
                            <div class="wishlist-table table-content table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="product-name text-center alt-font">Remove</th>
                                            <th class="product-price text-center alt-font">Images</th>
                                            <th class="product-name alt-font">Product</th>
                                            <th class="product-price text-center alt-font">Unit Price</th>
                                            <th class="stock-status text-center alt-font">Stock Status</th>
                                            <th class="product-subtotal text-center alt-font">Add to Cart</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in wishlist %}
                                        <tr>
                                            <td class="product-remove text-center" valign="middle">
                                                <a href="{% url 'remove-from-wishlist' slug=i.product.product_slug %}"><i class="icon icon anm anm-times-l"></i></a>
                                            </td>
                                            <td class="product-thumbnail text-center">
                                                <a href="{% url 'product-detail' slug=i.product.product_slug %}"><img src="{{ i.product.product_image.url }}" alt="" title="" /></a>
                                            </td>
                                            <td class="product-name">
                                                <h4 class="no-margin">
                                                    <a href="{% url 'product-detail' slug=i.product.product_slug %}">{{ i.product.product_name }}</a>
                                                </h4>
                                            </td>
                                            <td class="product-price text-center">
                                                <span class="amount">Rs. {{ i.product.product_price }}</span>
                                            </td>
                                            <td class="stock text-center">
                                                <span class="in-stock">in stock</span>
                                            </td>
                                            <td class="product-subtotal text-center">
                                                <button type="button" class="btn btn-small">Add To Cart</button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>                   
                    </div>
                </div>
            </div>
        {% endif %}
        
    </div>
    <!--End Body Content-->

{% endblock %}